<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>books page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>[[title]]</h1>
    <ul>
      {% for item in data -%}
      <li>
        [[item.name]]
      </li>
      {%- endfor %}
    </ul>
    <hr />
    <h2>vuejs part</h2>
    <div>
      <div id="vue-app">
        <p>{{ name }}</p>
        <input type="text" v-model="name" />
      </div>
    </div>
    <script>
      new Vue({
        el: '#vue-app',
        data: {
          name: 'hell world'
        }
      });
    </script>
  </body>
</html>
